.grid {
    height: 600px;
    aspect-ratio: 1/1;
    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 1px solid;
    box-sizing: border-box;
    height: 200px;
    aspect-ratio: 1/1;
}

.mole {
    background-image: url(./mole.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}